parametersSchema:
    cognitive_complexity: structure([
        class: int()
        function: int()
        dependency_tree: int()
        dependency_tree_types: array()
    ])

# default parameters
parameters:
    cognitive_complexity:
        class: 40
        function: 9
        dependency_tree: 150
        dependency_tree_types: []

services:
    - Artemeon\CognitiveComplexity\DataCollector\CognitiveComplexityDataCollector
    - Artemeon\CognitiveComplexity\AstCognitiveComplexityAnalyzer
    - Artemeon\CognitiveComplexity\NodeTraverser\ComplexityNodeTraverserFactory
    - Artemeon\CognitiveComplexity\NodeVisitor\NestingNodeVisitor
    - Artemeon\CognitiveComplexity\NodeVisitor\ComplexityNodeVisitor
    - Artemeon\CognitiveComplexity\NodeAnalyzer\ComplexityAffectingNodeFinder
    - Artemeon\CognitiveComplexity\ClassReflectionParser

    -
        factory: Artemeon\CognitiveComplexity\Configuration
        arguments:
            - %cognitive_complexity%

rules:
    - Artemeon\CognitiveComplexity\Rules\ClassLikeCognitiveComplexityRule
    - Artemeon\CognitiveComplexity\Rules\FunctionLikeCognitiveComplexityRule
    - Artemeon\CognitiveComplexity\Rules\ClassDependencyTreeRule

